* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  background-color:rgb(115, 186, 212);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora{
  background-color: #4475a0;
  padding: 3vh;
  border-radius: 1rem;
}

#display {
  background-color: #fdf8fd;
  padding: 20px;
  border-radius: 0.5rem;
  text-align: right;
  height: 5vh;
  margin: 0.5rem;
  width: 83% ;
}

.calculadoraBotoes{
  width: 4rem;
  height: 3rem;
  border: none;
  margin: 0.3rem;
  border-radius: 0.5rem;
  background-color: #fef9ff;
  box-shadow: 0 4px #093e76;
  text-align: center;
}

.calculatorBotoes:active {
  transform: translateY(1vh);
  box-shadow: 0 2px #cac5b6;
}

#cleanDisplay, #deleteDigit, #divisao, #multiplicacao, #subtracao, #soma,
#resultado, #porcentagem{
  background-color: #97b0cb;
  color: #fdfffc;
}

#num0{
  width: 9rem;
}